workflow/FounderOS - Daily Intelligence Agent (1).json
{
  "name": "FounderOS - Daily Intelligence Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "e6145544-00d2-4bd1-a78f-dd68fd0cd537",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/entrepreneur/latest",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        -64
      ],
      "id": "ba46a990-3310-47a5-b7bd-cbb4c4cba913",
      "name": "RSS Read2"
    },
    {
      "parameters": {
        "url": "https://www.producthunt.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        80
      ],
      "id": "5fa9143e-90b3-4a90-968b-74d92d6cbd4b",
      "name": "RSS Read3"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        -208
      ],
      "id": "91f6b8df-8e09-4900-9d12-228e64c437c0",
      "name": "RSS Read 1"
    },
    {
      "parameters": {
        "url": "https://www.ycombinator.com/blog/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        224
      ],
      "id": "68182350-a1d1-460c-9bd4-26ef40bdc31d",
      "name": "RSS Read 4"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        -32
      ],
      "id": "1fa7979e-7620-420d-b5bb-150af35f6728",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const keywords = [\n  \"AI\",\n  \"startup\",\n  \"funding\",\n  \"fintech\",\n  \"saas\",\n  \"product\",\n  \"growth\",\n  \"acquisition\"\n];\n\nconst filtered = items.filter(item => {\n  const title = item.json.title?.toLowerCase() || \"\";\n\n  return keywords.some(keyword =>\n    title.includes(keyword.toLowerCase())\n  );\n});\n\nreturn filtered.slice(0, 1);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "3a6e722b-b5e5-4d55-bf63-737abb419c1e",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strategic intelligence analyst for startup founders.\n\nAnalyze this startup headline:\n\n{{ $json.title }}\n\nReturn STRICTLY in this format:\n\nSUMMARY: <summary>\n\nWHY_IT_MATTERS: <business impact>\n\nSTRATEGIC_INSIGHT: <strategic insight>\n\nPRIORITY: <HIGH/MEDIUM/LOW>\n\nCATEGORY: <AI/Fintech/SaaS/etc>",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1440,
        16
      ],
      "id": "78dd589e-81b3-4e95-a413-7e5262d1aa99",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        0
      ],
      "id": "25b8e545-7eaa-415b-b002-362f982945ad",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 12
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1248,
        16
      ],
      "id": "05ea47d3-71d9-4b94-8ca4-6b1646260fab",
      "name": "Wait",
      "webhookId": "75aa936c-f629-49d6-8b63-299324fb48ac"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama-3.1-8b-instant",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1936,
        512
      ],
      "id": "3640f06b-0d79-44e8-bc95-965ba898028c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5e50MsJguk7vetcm",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "summary",
              "description": "Short summary of the startup news"
            },
            {
              "name": "why_it_matters",
              "description": "Business impact and why founders should care"
            },
            {
              "name": "strategic_insight",
              "description": "Founder-level strategic interpretation"
            },
            {
              "name": "priority",
              "description": "HIGH MEDIUM or LOW priority"
            },
            {
              "name": "category",
              "description": "Industry category like AI Fintech SaaS etc"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1808,
        16
      ],
      "id": "c128b1c8-b65e-4500-b475-866bafbfc5c0",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BW3ZHgMzFtUHJVn-ulOOjd4YmIvZwLkK3KQIuH27ar0",
          "mode": "list",
          "cachedResultName": "FounderOS Intelligence Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BW3ZHgMzFtUHJVn-ulOOjd4YmIvZwLkK3KQIuH27ar0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BW3ZHgMzFtUHJVn-ulOOjd4YmIvZwLkK3KQIuH27ar0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Headline": "={{ $('Code').item.json.title }}",
            "Summary": "={{ $json.output.summary }}",
            "Why it Matters": "={{ $json.output.why_it_matters }}",
            "Strategic Insight": "={{ $json.output.strategic_insight }}",
            "Priority": "={{ $json.output.priority }}",
            "Category": "={{ $json.output.category }}",
            "Source": "={{ $('Code').item.json.link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Why it Matters",
              "displayName": "Why it Matters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strategic Insight",
              "displayName": "Strategic Insight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2176,
        16
      ],
      "id": "e1137eb7-5dca-4c99-8c82-5f6c217d713b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GITxGif8sSImAZjV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2336,
        -336
      ],
      "id": "8bd802a9-c53b-4931-91dc-77f896cf167b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an elite startup strategy analyst.\n\nUsing the startup intelligence below, generate a concise Founder Morning Brief.\n\nInclude:\n\n1. Top Signals\n2. High Priority Developments\n3. Emerging Trends\n4. Strategic Opportunities\n5. Risks to Watch\n\nKeep it concise, executive-level, and actionable.\n\nINTELLIGENCE DATA:\n{{ JSON.stringify($json.data) }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2512,
        16
      ],
      "id": "c3891c53-28d0-44a9-8295-55f19efbc2a4",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "chatId": "1304812331",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2864,
        16
      ],
      "id": "20b86fe2-bf5b-44f0-a9f4-6c6e21a64ea5",
      "name": "Send a text message",
      "webhookId": "5aef2280-3701-4087-a051-4e52f9e966f3",
      "credentials": {
        "telegramApi": {
          "id": "slSt8XFuc42PfOuq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read3",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS Read 4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "62cc2d64-9862-4e41-abcc-857722945a3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a23c66e622b235072f2b9e27b29058a173299f3cd6a16bee85eed5af13cca782"
  },
  "id": "i6PW8tJ39I2OhVKz",
  "tags": []
}